*{
	font-family: 'Balthazar', serif;
	font-weight: 100;
}

.nav__responsive-ul{
	display: none;
}

nav{
	background: #48e;
}

.nav__li{
	display: inline-block;
	padding: 12px;
	color: #fff;
}

.nav__li:hover > a{
	color: #bbb;
}

.nav__li:hover{
	color: #bbb;
}

.nav__li a{
	color: #fff;
	text-decoration: none;
}

.nav__li i{
	box-sizing: border-box;	
	text-align: right;
	margin-right: 5px;
}

.nav__responsive-button-container{
	position: absolute;
	width: 100%;
	font-size: 25px;
	background: #69c;
	margin-top: -64px;
}

.nav__responsive-button{
	padding: 6px 20px;
	text-align: right;
	width: 100%;
}

@media only screen and (max-width: 500px){
	.nav__ul{
		display: none;
	}

	.nav{
		height: 37px;
		width: 100%;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
		height: 37px;
	}

	.nav__li-container{
		position: relative;
		background: #9bf;
		top: -1000px;
		height: calc(100vh -64px);
		transition: all 0.5s;
		z-index: -100;
		width: 	75%;
		padding-top: 25px;
	}

	.nav__responsive-li{
		width: 100%;
		padding: 9px 20px;
	}

	.nav__responsive-li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: #016;
	}

	.nav__responsive-li a{
		color: #016;
		text-decoration: none;
	}

	.nav__responsive-ul:hover .nav__li-container{
		top: -27px;
	}


}

.nav__responsive-button{
	float: right;
	font-size: 25px;
	padding: 6px 20px;
}
























/*.caja1{
	width: 500px;
	height: 500px;
	background: grey;

}

.caja2 {
	width: 400px;
	height: 400px;
	background: black;
}

.caja3 {
	width: 300px;
	height: 300px;
	background: red;
}

.caja4 {
	width: 200px;
	height: 200px;
	background: yellow;
}

.caja1:hover > .caja2{
	background: blue;
		transition: all 1s;
}

.caja2:hover > .caja3{
	background: blue;
		transition: all 1s;
}

.caja3:hover > .caja4{
	background: blue;
		transition: all 1s;
}
.caja1:hover {
	background: blue;
	transition: all 1s;
}*/